node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
pocketbase
pb_data/data.db
pb_data/data.db-shm
.gitignore
pb_data/data.db-wal
pb_data/logs.db
pb_data/logs.db-shm
pb_data/logs.db-wal
